<% layout('./layouts/boilerplate') %> 

<h1>Give Feedback</h1>
<div class="row py-2">
    <div class="col-md-6">
        <h2>Original Script:</h2>
        <div>
            <% for (let line of translation.script.body) { %>
                <div class="line"><%= line %></div>
            <% } %>  
        </div>
    </div>
    <div class="col-md-6">
        <h2>Translation:</h2>
        <form action="/translations/<%= translation._id %>/feedback" method="POST">
            <div>
                <% for (let [i, line] of translation.body.entries()) { %>
                    <div class="line">
                        <%= line %>
                        <span class="mark-buttons">
                            <label class="btn btn-success mark-btn mark-btn-good">
                                <input type="radio" class="btn-check" name="marks[<%=i%>]" autocomplete="off" value="good"><i class="fa-solid fa-check"></i>
                            </label>
                            <label class="btn btn-danger mark-btn mark-btn-bad">
                                <input type="radio" class="btn-check" name="marks[<%=i%>]" autocomplete="off" value="bad"><i class="fa-solid fa-x"></i>
                            </label>
                            <label class="btn btn-secondary mark-btn mark-btn-none active">
                                <input type="radio" class="btn-check" name="marks[<%=i%>]" autocomplete="off" value="none" checked><i class="fa-solid fa-ban"></i>
                            </label>
                        </span>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="2" name="comments[<%=i%>]" placeholder="(Optional comment)"></textarea>
                    </div>
                <% } %>  
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Submit Feedback</button>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/feedbackHighlight.js"></script>