<% layout('./layouts/boilerplate') %> 
<h1>All Scripts</h1>
<div class="my-3">
    <% if (currentUser) { %>
    <a href="/scripts/new" class="btn btn-primary">Create New</a>
    <% } %>  
</div>
<div class="script-filter-box my-3">
    <form action="/scripts">
        <div class="mb-3">
            <label class="form-label" for="search-title">Title Search</label>
            <input class="form-control" type="search" name="title" id="search-title" placeholder="Search for title">
        </div>
        <div class="mb-3">
            <label class="form-label" for="search-language">Language</label>
            <select class="form-select" name="language" id="search-language">
                <option value="all">All</option>
                <option value="en">English</option>
                <option value="ja">Japanese</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="search-maxlength">Maximum Length</label>
            <input class="form-control" type="number" name="maxlength" id="search-maxlength" placeholder="0">
        </div>
        <button class="btn btn-primary">Search</button>
    </form>
</div>
<div class="my-3">
    <ul class="list-group">
        <% for (let script of scripts) { %>
        <div class="list-group-item list-group-item-action">
            <div class="script-title">
                <a href="/scripts/<%= script.id %>"><%= script.title %></a>
            </div>
            <span class="script-info">
                Language: <%= script.language %>
            </span>
            <span class="script-info">
                Length: <%= script.length %>
            </span>
            <span class="script-info">
                Author: <a href="/users/<%= script.author.id %>"><%= script.author.username %></a>
            </span>
        </div>
        <% } %>  
    </ul>
</div>
