<% layout('./layouts/boilerplate') %> 

<div class="row">
    <h1><%= script.title %></h1>
    <div>
        <% for (let line of script.body.split("\n")) { %>
            <p><%= line %></p>
        <% } %>  
    </div>
</div>

<div class="row">
    <span class="col-sm-2">
        <form action="/scripts/<%= script._id %>/like?_method=PUT&user=<%= currentUser._id %>" method="POST">
            <button class="btn btn-primary like-btn my-1">
                <% if (script.likes.includes(currentUser._id)) { %> 
                    <i class="fa-solid fa-heart"></i>
                <% } else { %>
                    <i class="fa-regular fa-heart"></i>
                <% } %> 
                <%= script.likes.length %>
            </button>
        </form>
    </span>
    <span class="col-sm-2">
        <% if (currentUser && script.author.equals(currentUser._id)) { %> 
        <form action="/scripts/<%= script._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger my-1">
                <i class="fa-solid fa-trash"></i>
                Delete
            </button>
        </form>
        <% } %>
    </span>
</div>

<div class="row mt-3">
    <h2>Translations:</h2> 
    <% if (script.translations.length > 0) { %> 
        <ul class="list-group">    
        <% for (let translation of script.translations) { %>
            <a href="/translations/<%= translation.id %>" class="list-group-item list-group-item-action">Translation by <%= translation.author.username %></a>
        <% } %>  
        </ul>
    <% } else { %>
        <p>This script has no translation yet.</p>
    <% } %>  

    <form action="/scripts/<%= script._id %>/translate">
        <button class="btn btn-primary mt-2">Translate This Script</button>
    </form>
</div>
